/ner_address_data_1mln.json
/data/ner_address_shfld_1mln.json
/backend/venv/
/pipes/
/.idea/
*/__pycache__/
/data/
/pipes/
/pipes/tokenizer
/pipes/meta.json
/pipes/JdPTj/vocab/
/address_extraction/
/address_extraction_housenr/
